/*
    Tips: Não devemos poluir nosso escopo global
    só o essencial, mesmo!
*/

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    color: $mainOrange;
}